:root {
  --color-background: #edf1f5;
  --color-foreground: #fafafa;
  --color-text: #ffffff;
  --color-section-title: #000000;
  --color-content-overlay: #311f2fcc;
  --color-deep-blush: #e85fb2;
}
