@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --color-background: #edf1f5;
  --color-foreground: #fafafa;
  --color-text: #5c728a;
  --color-section-title: #000000;
  --color-content-text: #ffffff;
  --color-content-overlay: #311f2fcc;
  --color-header-background: #2b2d42;
  --color-deep-blush: #e85fb2;
  --color-blue: #3db4f2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Roboto", sans-serif;
}

/* General Styles */

.wrapper {
  display: grid;
  grid-template-rows: 70px auto;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-header-background);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

h1 {
  color: var(--color-content-text);
  letter-spacing: 3px;
}

/* Main content styles */

.main-content {
  width: 60%;
  justify-self: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  gap: 1.5em;
}

.section-wrapper {
  margin-block: 50px;
}

.section-title {
  margin-bottom: 16px;
  font-size: 1.2rem;
  font-weight: 400;
}

/* Card Styles */

.card {
  height: 210px;
  display: grid;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.cover,
.actions,
.content {
  grid-column: 1;
  grid-row: 1 / 2;
}

.card .cover {
  height: 100%;
  width: 100%;
  object-fit: fill;
  overflow: hidden;
}

.content {
  background-color: var(--color-content-overlay);
  place-self: end auto;
  padding: 5px 10px;
}

.book-info {
  color: var(--color-content-text);
}

.title {
  font-size: 1rem;
  margin-bottom: 2px;
}

.author {
  font-size: 0.9rem;
}

.user-progress-data {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: var(--color-deep-blush);
  margin-block: 3px;
}

/* Add button styles */

.add-btn {
  display: grid;
  place-content: center;
  position: fixed;
  bottom: 10%;
  right: 15%;
  height: 48px;
  width: 48px;
  background-color: var(--color-blue);
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
  color: var(--color-foreground);
  user-select: none;
}

.add-btn:hover {
  background-color: var(--color-foreground);
  color: var(--color-blue);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: 200ms ease;
}

.add-btn:active {
  transform: scale(0.9);
}

.actions {
  place-self: start end;
  z-index: 99;
  margin-top: 10px;
  margin-right: 10px;
  opacity: 0;
  user-select: none;
  transition: 100ms;
}

.action-btn {
  background-color: var(--color-deep-blush);
  border-radius: 3px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
  cursor: pointer;
}

.action-btn svg {
  height: 65%;
}

.card:hover .actions {
  opacity: 1;
}

.action-btn:active {
  transform: scale(0.9);
}

.delete-btn {
  margin-top: 5px;
  background-color: var(--color-deep-blush);
}

.delete-btn svg {
  stroke: var(--color-foreground);
}

.delete-btn:hover {
  background-color: #e85f5f;
}

/* Modal styles */

.modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal {
  width: min(1000px, 90%);
  height: 70%;
  background-color: var(--color-foreground);
  border-radius: 3px;
  overflow: auto;
}

.modal-header {
  display: grid;
  background-color: var(--color-header-background);
  padding: 1em;
}

.exit-btn {
  font-size: 1.5rem;
  cursor: pointer;
  margin-inline: 5px;
  grid-column: 2;
  grid-row: 1;
  place-self: start end;
}

.exit-btn:hover {
  color: var(--color-blue);
}

.modal-header .book-info {
  display: flex;
  align-items: end;
  gap: 1.5em;
  padding-left: 32px;
}

.modal-cover-container {
  height: 150px;
  width: 100px;
  border-radius: 3px;
  position: relative;
  top: 50px;
}

.modal-cover {
  height: 100%;
  width: 100%;
  object-fit: fill;
  object-position: center;
}

.save-btn {
  background-color: var(--color-blue);
  border-radius: 3px;
  color: var(--color-content-text);
  outline: none;
  border: none;
  padding: 8px 12px;
  grid-column: 2;
  grid-row: 1;
  place-self: end;
  cursor: pointer;
}

.modal-body {
  padding: 50px;
  padding-top: 70px;
}

/* Form style */

form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.3em;
}

form > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  font-size: 0.8rem;
}

input[type="text"],
input[type="number"],
input[type="url"],
input[type="date"],
select,
textarea {
  background-color: var(--color-background);
  color: var(--color-text);
  border-radius: 3px;
  border: none;
  outline: none;
  padding: 8px 15px;
}
